/*
**-------------------------------
** flower div
**-------------------------------
*/
.result_banner {
  padding-top: 2.5%;
  text-align: center;
}

/*
**-------------------------------
** flower div
**-------------------------------
*/
.main_canvas {

}

/* viewbox */
.flower {
  opacity: 80%;
}

.waiting-pulse {
  animation: blink 5s;
  animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 0.55;
    }
     50% {
        opacity: 0.5;
    }
    75% {
    	opacity: 0.45;
    }
    100% {
        opacity: 0.55;
    }
}
/*
**-------------------------------
** heart
**-------------------------------
*/
.heart {
  opacity: 80%;
}
/*
---------------------------------
** petals
**-------------------------------
*/
.petals {
  fill: #58657f;
  opacity: 80%;
}

.begin {
  opacity: 20%;
}

.yes {
  /*opacity: 100%;*/
}
.no {
  /*opacity: 100%;*/
}
.empty {
  opacity: 0%;
  cursor: not-allowed;
}

/*
---------------------------------
** text
**-------------------------------
*/
.txt-heart {
  opacity: 0%;
}

.txt-petal {
  opacity: 90%;
}
