:root {
    /*purples*/
    --purp-text: #1e1722;
    --purp-darkest: #493952;
    --purp-dark2: #72587f;
    --purp-dark1: #90749e;
    --purp-main: #987ea6;
    --purp-light1: #bcabc5;
    --purp-light2: #e0d8e4;
    --purp-lightest: #ece7ee;
    --purp-evenlighter: #f8f6f9;
    --purp-back: #f5f2f6;

    /*browns*/
    --brown-text: #16140f;
    --brown-darkest: #25211a;
    --brown-dark2: #524939;
    --brown-dark1: #7f7258;
    --brown-main: #a6987e;
    --brown-light1: #c5bcab;
    --brown-light2: #e4e0d8;
    --brown-lightest: #eeece7;

    /*blues*/
    --blue-darkest: #1a1d25;
    --blue-dark2: #394152;
    --blue-dark1: #58657f;
	  --blue-main: #7e8ba6;
    --blue-light1: #abb4c5;
    --blue-light2: #d8dce4;
    --blue-lightest: #f6f7f9;

    /*purpy's greens (complementary)*/
    --compgreen-dark1: #657f58;


}

body{
	background-color: var(--purp-back);
    /*Closest websafe color is: #99cc99*/
    font-size: 1em;
    margin: 0;
}

h1 {
    color: var(--purp-text);
    font-size: 2.5rem;
    font-family: 'Space Mono', monospace;
    font-weight: 100;

}

h2 {
	margin: auto;
	width: 80%;
  color: var(--brown-text);
  font-size: 1.8rem;
  margin-top: 50px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 100;
}

h3 {
  margin: auto;
  font-size: .9rem;
  margin-top: 10px;
  font-family: 'Space Mono', monospace;
    font-weight: 50;
}

h4 {
  margin: auto;
  width: 70%;
  font-size: 1rem;
  margin-top: 50px;
  font-style: italic;

}

hr {
  margin-top: 60px;
  border: 2px solid var(--purp-main);
  border-right: 1px solid var(--purp-main);
  border-bottom: 1px solid var(--purp-light2);

  height: 3px;
  width: 50%;
  border-radius: 20px;

  background-color: white;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

/*
-----------------------------------------
** button
-----------------------------------------
*/
.button {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
  background-color: var(--purp-dark1);
  border: 2px solid var(--purp-light2);
  border-radius: 8px;
  color: var(--purp-lightest);
  padding: 12px 28px;
}

.disabled{
  opacity: 0.2;
  cursor: not-allowed;
}



/*
-----------------------------------------
** Containers
-----------------------------------------
*/
.page_wrapper {

  display: flex;
  flex-direction: column;
  border-left: 80px solid var(--purp-light2);
  border-right: 25px solid var(--purp-light2);
  border-top: 25px solid var(--purp-lightest);
  border-bottom: 10px solid var(--purp-lightest);


  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.top_container {
  padding-top: 2.5%;
  text-align: center;
}


.middle_container {
    display: flex;
    flex-direction: row;
}

.main_canvas {
  text-align: center;
}

.main_content {
    width: 75%;
    float: left;
}

.side_bar {
    width: 25%;
    float: right;
}

.bottom_container {
  background-color: var(--purp-lightest);
  margin-left: -5%;
  margin-right: -5%;

}
